<!DOCTYPE html>
<html>

<head>
    <title>
        <%= docs %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% if(docs.show == false){ %>
    
    
    <form action="/getTicket" method="post">
        <input type="text" name="ticket">
        <button type="submit">See Replies</button>
    </form>
    <% } %>
     <% if(docs.show == true){ %>
        <h4><%= docs.subject %></h4>
        <h4><%= docs.content %></h4>
        <hr>
        
        
        <% for(var i=0; i<docs.reply.length; i++) {%>
            <p>Replied by - <%= docs.repliedBy[i] %> </p>
            <br>
            <p>Answer <br> - <%= docs.reply[i] %> </p>
                <br>
                <hr>
        <% } %>
    <% } %>
</body>

</html>